{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "pages": "./pages",
          "components": "./components",
          "layouts": "./layouts",
          "static": "./static",
          "utils": "./utils",
          "contexts": "./contexts",
          "hoc": "./hoc",
          "hooks": "./hooks",
          "store": "./store",
          "libs": "./libs",
          "themes": "./themes",
          "types": "./types",
          "graphql": "./graphql",
          "constants": "./constants"
        }
      }
    ]
  ]
}
